<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.900121081088-395k8877s411222hictei3qi1dj5aupt</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>900121081088-395k8877s411222hictei3qi1dj5aupt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900121081088-395k8877s411222hictei3qi1dj5aupt</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Vu_EqDOEQqs8FxNcu75MZdsuQ2p42hw</string>
	<key>GCM_SENDER_ID</key>
	<string>900121081088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.xiangyu.code.splitwise-clone-v2</string>
	<key>PROJECT_ID</key>
	<string>splitclone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>splitclone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:900121081088:ios:8c0ea702f3f7fced706fe5</string>
</dict>
</plist>
